<div class="row">
    <div class="col">
        <h5>
            <%= "Project: #{@project.project}" %>
        </h5>
        <h5>
            <%= "Client: #{@project.client}" %>
        </h5>
        <h5>
            <%= "Project Code: #{@project.project_code}" %>
        </h5>
    </div>
</div>